@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.container{
    background-image: url('../public/images/background.png');
    height: 100vh;
    background-position: center;
    background-size: "auto";
}

.dnd{
  border-style: solid;
}


.campaignSelection{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 12%;
  color:white;
}

.campaigns{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24%;
}